body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
  display: block;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}


img {
  max-width: 100%;
  display: block;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 310px;
  grid-gap: 20px;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}

.sidebar > div {
    margin-bottom: 50px;  
    margin-top: 40px;
}

.imagem{
  margin-top: 50px;
  width: 70%;
  height: auto;
}


hr{
  width:30%;
  text-align:center;
  height:3px;
  border-width:0;
  border-radius:10px;
  color:#000;
  background-color:#000;
  margin-top:100px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
  .imagem{
    width: 80%;
    height: auto;
    padding: 0px;
    margin-top: 50px;
    
  }
}